<?xml version="1.0"?>

<!-- Copyright (c) Nishit Tated. All Rights Reserved.
   project name: College Alumni System
  This project is licensed under the MIT license, see LICENSE. -->
 
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localDB)\v11.0; AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnObtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="4"></sessionState>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="n"/>
      <allow users="xyz"/>
    </authorization>
  </system.web>
</configuration>
